
// var
$white-color:#fff;
$black-color:#000;
$min-color:#F44336;
$sub-color:#3f4238;
$gray-color:#edf2f9;
$gray-color2:#333;
$english_font:'Roboto', sans-serif;
$arabc_font:'Cairo', sans-serif;

// var


